*.tgz
*.gz
*.deb
*.log
*.tmp
*.zip
*.so
*.qcow2
*.log
.env
.ssh/
node_modules/
__pycache__/
*.deb
storage/
database/
.vscode.server/
.venv/
.cursor-server/
.npm/
.cache/
node_exporter/
jdenv/
.viminfo
.docker
.nvm/
.vscode-server/
Telegram/jdvenv/
node_exporter-1.8.1.linux-amd64/node_exporter

